.flashy {
color: red;
font-style: italic;
}

p.best {
  font-style: oblique;
  color: brown;
}

h2.intro {
  font-size: 120%;
  font-style: bold;

}

p.intro {
 font-size: 90%;
 color: grey;
}

img.intro {
width: 600px;
height: 300px;
}

.span1 {
  color: red;
}

.intro {
  color: blue;
}

.bp1 {
  color: red;
}

.bp2 {
  color: blue;
}

.bp3 {
  color: teal;
}

.bp4 {
  color: orange;
}

.aboutme{
  font-size: 120%;
  color: purple;
}

.important {
  color: red;
  font-style: underline;
}

.unimportant {
  color: purple;
  font-style: italic;
}

.priorwork{
  color: blue;
  font-size: 120%;
}

.education {
  color: green;
  font-family: serif;
}

.talents{
  color: yellow;
  font-family: sans-serif;
}
